<!--
<div id="map" data-latitude="{{ .latitude }}" data-longitude="{{ .longitude }}"></div>
-->

<div style="width: 100%;padding-left: 200px" >
    <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
            src="https://maps.google.com/maps?width=120%25&amp;height=400&amp;hl=en&amp;q=12.5248631,99.9373146+(Absolute%20Lawyer%20Hua%20Hin)&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
    </iframe>
</div>
<!--
<iframe
        title="google-map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4404.104697497723!2d14.487171001548738!3d50.084093473976324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa5e003497c2dbe5c!2zVmVsb2Ryb20gVMWZZWJlxaHDrW4!5e0!3m2!1sen!2scz!4v1606601106315!5m2!1sen!2scz"
        style="border:0;height:100%;width:100%"
        frameBorder="0" allowFullScreen="" aria-hidden="false" tabIndex="0"></iframe>
-->