<div class="col-md-4">
    <div class="table">
        <!-- pricing table
      ===================== -->
        <div class="table-price border-effect text-center">
            <h4 class="pricing-title">{{ .heading }}</h4>
            <p class="price-description">{{ .price_description }}</p>
            <h2 class="price">{{ .price }} {{ .currency }}</h2>
        </div>
        <div class="pricing-list border-effect">
            <ul class="features-list">
                {{ range .features }}
                    {{ partial "bookshop" (slice "simple/plan-feature" .)}}
                {{ end }}
            </ul>
            <div class="text-center">
                {{ partial "bookshop" (slice "generic/button" .button )}}
            </div>
        </div>
    </div>
</div>